

@model IEnumerable<ECommerceFinal.Models.ShopVM>


@{
    string imageURL = "/Content/images/noImage.png";

    var firstProd = Model.ElementAt(0);
    List<EcommerceEntities.Image> imgs = null;

}



<div class="spacer">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>



<!-- Begin Kenne's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Shop Now</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Shop Now</li>
            </ul>
        </div>
    </div>
</div>
<!-- Kenne's Breadcrumb Area End Here -->
<!-- Begin Kenne's Content Wrapper Area -->
<div class="kenne-content_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="shop-toolbar">

                    @{ Html.RenderAction("SideBarCategories", "Shop");}

                </div>

            </div>



            <div class="col-lg-10">
                <div id="ProductsTable" class="shop-product-wrap grid gridview-3 row">

                    @foreach (var product in Model)
                    {

                        imgs = product.Images;



                        <div  class="col-lg-4 col-md-4 col-sm-6">
                            <div class="product-item hvr-grow ">
                                <div class="single-product ">
                                    <div class="product-img">
                                        <a class="selected product" data-id="@product.ID">


                                            @if (imgs.Count > 0)
                                            {
                                                <img class="primary-img selected-product" data-id="@product.ID" src=@product.Images[0].Name height="250" width="550" alt=" Product Image">
                                                if (imgs.Count > 1)
                                                {

                                                    <img class="secondary-img img img-fluid selected-product" data-id="@product.ID" src=@product.Images[1].Name height="200" width="600" alt=" Product Image">
                                                }
                                            }
                                            else
                                            {
                                                <img class="primary-img  selected-product " data-id="@product.ID" src=@imageURL height="250" width="550" alt="Image">
                                            }

                                        </a>

                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">


                                            <h3 class="product-name"><a class="selected product" data-id="@product.ID"> @product.Name</a></h3>
                                            <div class="price-box">
                                                <span class="new-price">Rs.@product.Price </span>
                                            </div>
                                           
                                        </div>
                                        <br />
                                        <div class="product-name mt-2 ">
                                            <a class=" p-3 addToCart" data-id=@product.ID>
                                                Add To cart
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="list-product_item hvr-grow">
                                <div class="single-product ">
                                    <div class="product-img">
                                        <a class="selected product" data-id="@product.ID">

                                            @if (imgs.Count > 0)
                                            {
                                                <img class="primary-img img img-fluid " data-id="@product.ID" src=@product.Images[0].Name alt="Image" width="400" height="500">

                                            }
                                            else
                                            {
                                                <img class="primary-img img img-fluid" data-id="@product.ID" src=@imageURL alt="Image"  width="400" height="500">
                                            }

                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <div class="price-box">
                                                <span class="new-price"></span>
                                            </div>
                                            <h6 class="product-name">Name: @product.Name<a href="single-product.html"></a></h6>
                                            <h6 class="product-name">Price: @product.Price<a href="single-product.html"></a></h6>

                                          
                                            <div class="product-short_desc">
                                                <p>
                                                    Description: @product.Description
                                                </p>
                                            </div>

                                            <div class="product-name my-2 ">
                                                <a class=" p-3 addToCart" data-id=@product.ID>
                                                    Add To cart
                                                </a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }



                </div>

            </div>
        </div>
    </div>
    <!-- Kenne's Content Wrapper Area End Here -->
</div>



<script>

    var products = [];

    $(".addToCart").click(function () {

        var existingCookies = $.cookie('CartProducts');

        if (existingCookies != undefined && existingCookies != "" && existingCookies != null) {
            products = existingCookies.split('-');
        } else {
            product = [];
        }

        var prodID = $(this).attr("data-id");
        products.push(prodID);

        $.cookie('CartProducts', products.join('-'), { path: '/' })


        $('.cartProductCount').html(products.length);

    });


    $('.selected-product').on('click', function () {
        var data = $(this).data("id");
     

        $.ajax(
            {
                type: 'POST',
                url: '/Shop/Index',
                data: {
                    ID: data
                }




            }
        )
            .done(function (response) {
                // $("#tableContainer").html(response);
                location.href = '@Url.Action("ProductDetails", "Shop")';
            //    $('#productTable').load('/Widget/Products');


            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fails");
                alert(errorThrown)
                alert(textStatus    )
            });
    });


</script>