@model List<EcommerceEntities.Image>


@{
    ViewBag.Title = "Home Page";

    var image1 = Model[0];
    var image2 = Model[1];
    var image3 = Model[2];



}

@{
    ViewBag.Title = "Index";
}
<div class="spacer">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<!-- Begin Kenne's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a class="active" href="index.html">Home</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Kenne's Breadcrumb Area End Here -->
<div class="about-us-area my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5">
                <div class="overview-img text-center img-hover_effect">
                    <a href="#">
                        <img class="img-full" src="~/Content/images/logo.png" alt="Kenne's About Us Image">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 d-flex align-items-center">
                <div class="overview-content">
                    <h2>Welcome To The <span>Penny</span> Store!</h2>
                    <p class="short_desc">
                        Whether you are buying new or used, plain or luxurious, commonplace or rare, trendy or one-of-a-kind – if it exists in the world, it probably is for sale on eBay. Our mission is to be the world’s favorite destination for discovering great value and unique selection.

                        We give sellers the platform, solutions, and support they need to grow their businesses and thrive. We measure our success by our customers' success.
                        <div class="kenne-about-us_btn-area">
                            <a class="about-us_btn" href="@Url.Action("Index", "Shop")">Shop Now</a>
                        </div>
</div>
            </div>
        </div>
    </div>
</div>
<!-- Kenne's About Us Area End Here -->



<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-6 custom-xxs-col">
                <div class="banner-item img-hover_effect">
                    <div class="banner-img">
                        <a href=@Url.Action("Index", "Shop")>
                            <h3 class="text-center "> Latest  </h3>

                            <img src="@image1.Name" alt="Banner" class="hvr-grow-shadow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 custom-xxs-col">
                <div class="banner-item img-hover_effect">
                    <div class="banner-img">
                        <a href=@Url.Action("Index", "Shop")>
                            <h3 class="text-center "> Most Popular  </h3>

                            <img src="@image2.Name" alt="Banner" class="hvr-grow-shadow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 custom-xxs-col">
                <div class="banner-item img-hover_effect">
                    <div class="banner-img">
                        <a href=@Url.Action("Index", "Shop")>
                            <h3 class="text-center "> Most Viewed    </h3>

                            <img src="@image3.Name" alt="Banner" class="hvr-grow-shadow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End Here -->
<!-- Begin Product Area -->

<div class="product-area ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>New Product</h3>
                    <div class="product-arrow"></div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="kenne-element-carousel product-slider slider-nav" data-slick-options='{
                        "slidesToShow": 4,
                        "slidesToScroll": 1,
                        "infinite": true,
                        "arrows": true,
                        "dots": false,
                        "spaceBetween": 30,
                        "appendArrows": ".product-arrow"
                        }' data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 3
                        }},
                        {"breakpoint":768, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":575, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>
                    @{ Html.RenderAction("Products", "Widget", new { isLatestProducts = true });}

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Product Tab Area -->
<div class="product-tab_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>All Product</h3>
                    @*Category UL here*@
                    @{Html.RenderAction("CategoryDisplay", "Widget");}

                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content kenne-tab_content">
                    <div id="bag" class="tab-pane active show" role="tabpanel">
                        <div class="kenne-element-carousel product-tab_slider slider-nav product-tab_arrow" data-slick-options='{
                                    "slidesToShow": 4,
                                    "slidesToScroll": 1,
                                    "infinite": false,
                                    "arrows": true,
                                    "dots": false,
                                    "spaceBetween": 30
                                    }' data-slick-responsive='[
                                    {"breakpoint":992, "settings": {
                                    "slidesToShow": 3
                                    }},
                                    {"breakpoint":768, "settings": {
                                    "slidesToShow": 2
                                    }},
                                    {"breakpoint":575, "settings": {
                                    "slidesToShow": 1
                                    }}
                                ]'>

                            @{Html.RenderAction("Products", "Widget", new { isLatestProducts = false });}


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Tab Area End Here -->



<style>

    .bg-1 {
        background-image: url("/Content/images/Custom/1920x520pic.jpg")
    }




    .slick-current {
        display: none !important;
    }
</style>



<script>

    $('.first-active').click(function () {
        alert("clcik");

    });







    $('.selected-product').on('click', function () {
        var data = $(this).data("id");


        $.ajax(
            {
                type: 'POST',
                url: '/Shop/Index',
                data: {
                    ID: data
                }




            }
        )
            .done(function (response) {


                location.href = '@Url.Action("ProductDetails", "Shop")';



            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fails");
                alert(errorThrown)
                alert(textStatus    )
            });
    });




</script>



