<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Fontawesome Star  no cdn -->
    @*<link rel="stylesheet" href="/Content/css/vendor/fontawesome-stars.min.css">*@
    <!-- Ion Icon -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css">
    <!-- Timecircles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timecircles/1.5.3/TimeCircles.css">

    <link href="~/Content/css/hover-min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>




<body class="template-color-1">
    <div class="main-wrapper">

        <div class="loading">
            <div class="text-center middle">
                <span class="loader">
                    <span class="loader-inner"></span>
                </span>
            </div>
        </div>

        <header class="main-header_area">
            <div class="transparent-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="transparent-header_nav position-relative">
                              
                                <div class="main-menu_area d-none d-lg-block">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul style="font-size:14px !important; ">
                                            <li class="dropdown-holder">
                                                <a href='@Url.Action("Index", "Home")'>Home</a>
                                            </li>

                                            <li><a href='@Url.Action("Index", "Aboutus")'>About Us</a></li>
                                            <li>
                                                <a href='@Url.Action("Index", "Shop")'> Shop</a>
                                            </li>


                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li>
                                                    <a href='@Url.Action("Index", "Product")'> Products CMS</a>
                                                </li>

                                                <li><a href='@Url.Action("Index", "Category")'>Category CMS</a></li>
                                            }
                                            <li><a href='@Url.Action("Index", "ShoppingCart")'>Shopping Cart</a></li>

                                            <li><a href='@Url.Action("Index", "Checkout")'>Checkout</a></li>

                                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") )
                                            {
                                                <li><a href='@Url.Action("Index", "Pages")'>Pages</a></li>
                                            }

                                            </ul>
                                    </nav>
                                </div>
                                <div class="header-right_area header-right_area-2">
                                    <ul>
                                        <li class="mobile-menu_wrap d-inline-block d-lg-none">
                                            <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                                <i class="ion-android-menu"></i>
                                            </a>
                                        </li>
                                        <li class="minicart-wrap">
                                            <a href="#miniCart" class="minicart-btn toolbar-btn">
                                                <div class="minicart-count_area">
                                                    <!-- we need to use pls  -->
                                                    <span class="item-count cartProductCount">0</span>
                                                    <i class="ion-bag"></i>
                                                </div>
                                            </a>
                                        </li>
                                     
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <li><span class="ion-md-log-in addToCart"> </span> <a href=@Url.Action("Login", "Account")> Login/SignUp </a> </li>

                                        }
                                        else
                                        {
                                            <li><span class="ion-md-log-in addToCart"> </span> <a href=@Url.Action("SignOut", "Account")> Logout </a> </li>

                                        }
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sticky-header_nav position-relative">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="header-logo_area">
                                            <a href="index.html">
                                                <img src="~/Content/images/menu/logo/1.png" alt="Header Logo">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 d-none d-lg-block position-static">
                                        <div class="main-menu_area">
                                            <nav class="main-nav d-flex justify-content-center">
                                                <ul>
                                                    <li class="dropdown-holder">
                                                        <a href="#">Home <i class=""></i></a>
                                                        <ul class="kenne-dropdown">
                                                            <li><a href="#">Home One</a></li>

                                                        </ul>
                                                    </li>
                                                    <li class="megamenu-holder position-static">
                                                        <a href="#">Shop </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Pages <i class="ion-chevron-down"></i></a>
                                                        <ul class="kenne-dropdown">
                                                            <li><a href="coming-soon_page.html">Coming Soon</a></li>
                                                            <li><a href="404.html">Error 404</a></li>
                                                            <li><a href="faq.html">FAQ</a></li>
                                                        </ul>
                                                    </li>

                                                    <li><a href="#">Contact Us</a></li>
                                                    <li><a href="#">About Us</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="header-right_area header-right_area-2">
                                            <ul>
                                                <li class="mobile-menu_wrap d-inline-block d-lg-none">
                                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                                        <i class="ion-android-menu"></i>
                                                    </a>
                                                </li>
                                                <li class="minicart-wrap">
                                                    <a href="#miniCart" class="minicart-btn toolbar-btn">
                                                        <div class="minicart-count_area">
                                                            <span class="item-count cartProductCount">0</span>
                                                            <i class="ion-bag"></i>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#searchBar" class="search-btn toolbar-btn">
                                                        <i class="ion-ios-search"></i>
                                                    </a>
                                                </li>
                                                <li class="d-none d-lg-inline-block">
                                                    <a href="#offcanvasMenu" class="menu-btn toolbar-btn color--white">
                                                        <i class="ion-android-menu"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas-minicart_wrapper" id="miniCart">
                <div class="offcanvas-menu-inner">
                    <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                    <div class="minicart-content">
                        <div class="minicart-heading">
                            <h4>Shopping Cart</h4>
                        </div>


                        <ul class="minicart-list">


                            <li class="minicart-product">
                                <a class="product-item_remove" h ref="#">
                                    <i class="ion-android-close"></i>
                                </a>
                                <div class="product-item_img">
                                    <img src="~/Content/images/product/1-1.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" href="#">Autem ipsa ad</a>
                                    <span class="product-item_quantity">1 x $145.80</span>
                                </div>
                            </li>


                        </ul>
                    </div>
                    <div class="minicart-item_total">
                        <span>Subtotal</span>
                        <span class="ammount">$462.4‬0</span>
                    </div>
                    <div class="minicart-btn_area">
                        <a href="cart.html" class="kenne-btn kenne-btn_fullwidth">Minicart</a>
                    </div>
                    <div class="minicart-btn_area">
                        <a href="checkout.html" class="kenne-btn kenne-btn_fullwidth">Checkout</a>
                    </div>
                </div>
            </div>
            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="offcanvas-menu-inner">
                    <div class="container">
                        <a href="#" class="btn-close white-close_btn"><i class="ion-android-close"></i></a>
                        <div class="offcanvas-inner_logo">
                            <a href="index.html">
                                <img src="~/Content/images/menu/logo/1.png" alt="Header Logo">
                            </a>
                        </div>
                        <nav class="offcanvas-navigation">
                            <ul style="font-size:14px !important; ">
                                <li class="dropdown-holder">
                                    <a href='@Url.Action("Index", "Home")'>Home</a>
                                </li>

                                <li><a href='@Url.Action("Index", "Aboutus")'>About Us</a></li>
                                <li>
                                    <a href='@Url.Action("Index", "Shop")'> Shop</a>
                                </li>


                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href='@Url.Action("Index", "Product")'> Products CMS</a>
                                    </li>

                                    <li><a href='@Url.Action("Index", "Category")'>Category CMS</a></li>
                                }
                                <li><a href='@Url.Action("Index", "ShoppingCart")'>Shopping Cart</a></li>

                                <li><a href='@Url.Action("Index", "Checkout")'>Checkout</a></li>

                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li><a href='@Url.Action("Index", "Pages")'>Pages</a></li>
                                }

                            </ul>
                        </nav>
                        <nav class="offcanvas-navigation user-setting_area">
                            <ul style="font-size:14px !important; ">
                                <li class="dropdown-holder">
                                    <a href='@Url.Action("Index", "Home")'>Home</a>
                                </li>

                                <li><a href='@Url.Action("Index", "Aboutus")'>About Us</a></li>
                                <li>
                                    <a href='@Url.Action("Index", "Shop")'> Shop</a>
                                </li>


                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href='@Url.Action("Index", "Product")'> Products CMS</a>
                                    </li>

                                    <li><a href='@Url.Action("Index", "Category")'>Category CMS</a></li>
                                }
                                <li><a href='@Url.Action("Index", "ShoppingCart")'>Shopping Cart</a></li>

                                <li><a href='@Url.Action("Index", "Checkout")'>Checkout</a></li>

                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li><a href='@Url.Action("Index", "Pages")'>Pages</a></li>
                                }

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="offcanvas-menu_wrapper" id="offcanvasMenu">
                <div class="offcanvas-menu-inner">
                    <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                    <div class="offcanvas-inner_logo">
                        <a href="#">
                            <img src="~/Content/images/menu/logo/1.png" alt="Munoz's Offcanvas Logo">
                        </a>
                    </div>
                    <div class="short-desc">
                        <p>
                            We are a team of designers and developers that create high quality HTML Template &
                            Woocommerce,
                            Shopify Themes.
                        </p>
                    </div>
                    <div class="offcanvas-component first-child">
                        <span class="offcanvas-component_title">Currency</span>
                        <ul class="offcanvas-component_menu">
                            <li><a href="#">EUR</a></li>
                            <li><a href="#">GBP</a></li>
                            <li class="active"><a href="#">USD</a></li>
                        </ul>
                    </div>
                    <div class="ofacanvas-component">
                        <span class="offcanvas-component_title">Language</span>
                        <ul class="offcanvas-component_menu">
                            <li class="active"><a href="#">English</a></li>
                            <li><a href="#">French</a></li>
                        </ul>
                    </div>
                    <div class="offcanvas-component">
                        <span class="offcanvas-component_title">My Account</span>
                        <ul class="offcanvas-component_menu">
                            <li><a href="my-account.html">Register</a></li>
                            <li><a href="login-register.html">Login</a></li>
                        </ul>
                    </div>
                    <div class="offcanvas-inner-social_link">
                        <div class="kenne-social_link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank" title="Facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com" data-toggle="tooltip" target="_blank" title="Twitter">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank" title="Youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://rss.com" data-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas-search_wrapper" id="searchBar">
                <div class="offcanvas-menu-inner">
                    <div class="container">
                        <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                        <!-- Begin Offcanvas Search Area -->
                        <div class="offcanvas-search">
                            <form action="#" class="hm-searchbox">
                                <input type="text" placeholder="Search for item...">
                                <button class="search_btn" type="submit">
                                    <i class="ion-ios-search-strong"></i>
                                </button>
                            </form>
                        </div>
                        <!-- Offcanvas Search Area End Here -->
                    </div>
                </div>
            </div>
            <div class="global-overlay"></div>
        </header>

        @RenderBody()

        <div class="kenne-footer_area bg-smoke_color">
            <div class="footer-top_area">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 text-center ">
                            <div class="row footer-widgets_wrap">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="footer-widgets_title">
                                        <h4>Shopping</h4>
                                    </div>
                                    <div class="footer-widgets">
                                        <ul>
                                            <li><a href="@Url.Action("Index", "Peoduct")'">Product</a></li>
                                            <li><a href="@Url.Action("Index", "ShoppingCart")'">My Cart</a></li>
                                            <li><a href="@Url.Action("Index", "Checkout")'">Checkout</a></li>




                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="footer-widgets_title">
                                        <h4>Account</h4>
                                    </div>
                                    <div class="footer-widgets">
                                        <ul>
                                            <li><a href="@Url.Action("Login", "Account")'">Login</a></li>
                                            <li><a href="@Url.Action("Login", "Account")'">Register</a></li>
                                            <li><a href="#">Help</a></li>
                                            <li><a href="#">Support</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="footer-widgets_title">
                                        <h4>Categories</h4>
                                    </div>
                                    <div class="footer-widgets">
                                        <ul>
                                            <li><a href="#">Men</a></li>
                                            <li><a href="#">Women</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Shoes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom_area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="copyright">
                                <span>Copyright &copy; 2019 <a href="#">Kenne.</a> All rights reserved.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="payment">
                                <img src="~/Content/images/footer/payment/1.png" alt="Kenne's Payment Method">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- Scroll To Top Start -->
    <a class="scroll-to-top" href=""><i class="ion-chevron-up"></i></a>
    <!-- Scroll To Top End -->
    <!-- jQuery JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Modernizer JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js

"></script>
    <!-- Popper JS -->
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Slick Slider JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <!-- Barrating JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>
    <!-- Counterup JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <!-- Nice Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- Sticky Sidebar JS -->
    <script src="https://cdn.jsdelivr.net/npm/sticky-sidebar@3.3.1/dist/sticky-sidebar.min.js"></script>    <!-- Jquery-ui JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="https://cdn.jsdelivr.net/npm/theia-sticky-sidebar@1.7.0/dist/theia-sticky-sidebar.min.js"></script>    <!-- Waypoints JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <!-- jQuery Zoom JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
    <!-- Timecircles JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timecircles/1.5.3/TimeCircles.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)


    <script>

        var products = [];

        var existingCookies = $.cookie('CartProducts');

        if (existingCookies != undefined && existingCookies != "" && existingCookies != null) {
            products = existingCookies.split('-');
        } else {
            product = [];
        }

        $('.cartProductCount').html(products.length);



    </script>

    

</body>




</html>


